<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" 
               scanPeriod="60 seconds">
    <appender name="ConsoleAppender" 
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSS} %logger{36} %message%n</pattern>
        </encoder>
    </appender>
    <appender name="RollingFileAppender" 
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/homebudget/homebudget.application.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger - %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>homebudget.application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="ro.satrapu.homebudget" 
            level="DEBUG">
        <appender-ref ref="RollingFileAppender"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>