<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" 
               scanPeriod="60 seconds">
    <appender name="ConsoleAppender" 
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSS} %logger %message%n</pattern>
        </encoder>
    </appender>
    <appender name="RollingFileAppender" 
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/homebudget/homebudget.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger - %message%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logs/homebudget/archived/homebudget.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
    </appender>
    <logger name="ro.satrapu.homebudget" 
            level="ERROR">
        <appender-ref ref="RollingFileAppender"/>
    </logger>
    <root level="DEBUG">
        <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>